.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  padding: 24px;
  background-color: #e9ecef;
  border-radius: 18px 18px 0 0;
}

.Logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.Label {
  font-size: 13px;
  font-weight: bold;
}
